@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


::root{
  --primary-color: #7c59b0;
  --border-radius: 5px;
}
html {
  box-sizing: border-box;
}

body {
  background-color: #9888b0;
  font-family: 'Lato', sans-serif;
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23501e9f' fill-opacity='0.43'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  margin: 0;
  /* min-height: 100vh; */
}
h1{
  color: white;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
  width: 375px;
  margin: 20px auto 10px;
  user-select: none;
}
h1:hover{
  background: rgba(0, 0, 0, 0.8);
}